body {
    margin: 0;
     min-height: 100vh;

  background-color: black;  

 background-image: 
     url("https://static.vecteezy.com/system/resources/previews/069/911/163/non_2x/vintage-black-textured-camera-with-a-weathered-lens-on-a-rustic-wooden-surface-free-photo.jpg");
    max-width: 100%;
     height: auto;
    width: auto;
    background-size: cover;
}

#welcome {
    color: greenyellow;
     text-align: center;
      margin-top: 20px;
      border: 2px white solid;
       padding: 10px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255, 0.10);
}   

#main-image {
    display: block;
     margin: 20px auto;
      border-radius: 10px;
       box-shadow: 0 0 20px rgba(255, 0, 8, 0.5);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
